.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    background: #F6F6f6;
    border-radius: 8px;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
